---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$header-font-family: 'Roboto Slab', Courier, serif;
$header-font-size: 1em;
$header-height: 67px;

$spacing-unit:     30px;

$text-color:       #1f1f26;
$hover-link-color: #aaa;
$background-color: #fafafa;
$brand-color:      #fff;
$body-link-color:  #666;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$social-icon-size: 24px;

// Width of the content area
$content-width:    800px;

$on-mobile:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "syntax-highlighting-monokai",
        "layout"
;
