header, footer, section {
  border: 1px solid red;
}

#header, #main, #footer {
  max-width: 960px;
  margin: 0 auto;
}

.icon {
    > svg {
        display: inline-block;
        width: $social-icon-size;
        height: $social-icon-size;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg {
        width: 18px;
        height: 15px;

        path {
            fill: $grey-color-dark;
        }
    }
}

@include media-query($on-palm) {
  
}
